@media screen and (max-width: 450px) {
    :root {
        --font_slider: 18pt;
        --font_slider_st: 12pt;
        --font_tire_qsn: 30pt;
        --font_titre_service_descr: 9pt;
        --font_button: 11pt;
        --font_button2: 8pt;
        --outline: #FF7200;
        --border: 2px solid var(--outline);
        --texte: #ffffff;
    }

    a .button {
        padding: 10px;
        font-size: var(--font_button);
        color: var(--texte);
        background-color: var(--link_text);
        border-radius: 5px;
        margin-top: 20px;
    }

    a .button2 {
        font-size: var(--font_button2);
        padding: 10px;
    }

    a .button_pc {
        display: none;
    }

    a .button_phone {
        display: inline-block;
    }

    .button:hover,
    .button2:hover {
        transition: none;
        border-radius: 0%;
    }

    .service a {
        color: var(--texte);
    }

    .section_presentation a {
        color: var(--texte);
    }

    .space {
        width: 94%;
    }

    .space2 {
        width: 80%;
    }

    .space_header {
        width: 94%;
    }

    .space_top {
        margin-top: 20px;
    }

    .space_right {
        margin-left: 10px;
    }

    .space_bottom {
        margin-bottom: 35px;
    }

    .space_interne {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .logo_container img {
        width: 84px;
    }

    header {
        height: 50px;
    }

    .menu_hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .menu_hamburger:first-child {
        margin-top: 0;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 25px;
        height: 3px;
        background-color: var(--link_text);
        margin-top: 3px;
        border-radius: 5px;
        transition: all 0.7s;
    }

    .bar2 {
        width: 20px;
        align-self: end;
    }

    .open .bar1,
    .open .bar2,
    .open .bar3 {
        background-color: var(--dots-color);
    }

    .open .bar1 {
        transform: translateY(200%) rotate(-45deg);
    }

    .open .bar2 {
        transform: translateX(-100%);
        opacity: 0;
    }

    .open .bar3 {
        transform: translateY(-200%) rotate(45deg);
    }

    .menu_nav {
        position: fixed;
        top: 0;
        left: -72%;
        width: 59%;
        height: 100%;
        padding: 20px;
        background-color: #0C154Bf2;
        flex-direction: column;
        transform: translateX(0);
        transition: transform 0.5s ease;
    }

    .menu_nav_actived {
        transform: translateX(100%);
    }

    .menu_nav li {
        border-bottom: 1px dotted var(--outline);
        padding: 10px 10px 10px 20px;
        width: 80%;
    }

    nav ul li a.active {
        font-weight: 600;
        color: var(--dots-color);
    }

    .btn_nav a {
        color: var(--texte);
        font-weight: 400;
        text-transform: uppercase;
    }

    .social_media {
        display: flex;
        border-bottom: none !important;
        margin-top: 355px;
        padding: 0 !important;
    }

    .social_media_items a {
        display: flex;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
        padding: 5px;
    }

    .circle {
        border: none;
        border-radius: 0px;
        margin-bottom: 25px;
        width: 200px;
        padding: 0;
    }

    .circle_phone {
        width: auto;
        margin: 0;
        background: none;
    }

    .circle_phone_logo {
        width: 30px;
        height: auto;
    }

    .circle a {
        gap: 5px;
        font-size: 12pt;
    }

    .social_media_items img {
        width: 15px;
        filter: brightness(0) saturate(100%) invert(10%) sepia(24%) saturate(4620%) hue-rotate(214deg) brightness(101%) contrast(107%);
    }

    .twitter img {
        width: 16px;
    }

    .facebok img {
        width: 15px;
    }

    .social_media_all {
        display: flex;
        gap: 10px;
    }

    .slider_top .swiper-button-next,
    .slider_top .swiper-button-prev {
        display: none;
    }

    .slider_top .swiper {
        height: 300px;
    }

    .slider_top .slide-text {
        max-width: 70%;
        margin-left: 20px;
    }

    .slider_top .slide-text h1 {
        font-size: var(--font_slider);
        margin-bottom: 5px;
    }

    .slider_top .slide-text h3 {
        font-size: var(--font_slider_st);
    }

    .section_presentation {
        gap: 30px;
        flex-direction: column;
    }

    .section_presentation_left {
        max-width: 100%;
    }

    .section_presnt_lef_title p {
        font-size: var(--font_slider);
        font-weight: var(--font_titre_weight);
        width: 300px;
        letter-spacing: 1px;
    }

    .section_presnt_lef_title p::before {
        content: "";
        position: absolute;
        background-color: var(--dots-color);
        width: 6px;
        height: 35px;
        left: calc(-12px);
        bottom: -4px;
    }

    .section_presnt_lef_title p::after {
        display: none;
    }

    .section_pres_pc {
        display: none;
    }

    .section_presentation_left_description p {
        font-size: var(--font_slider_st);
        width: 300px;
        text-align: justify;
        line-height: 1.2;
    }

    .section_presentation_right {
        max-width: 90%;
    }

    .section_presentation_right img {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .service_left_right {
        flex-direction: column;
        justify-content: space-between;
    }

    .service_left {
        width: auto;
    }

    .service_right {
        max-width: 100%;
    }

    .service_left_title p {
        font-size: var(--font_slider);
        width: 220px;
    }

    .service_left_title p::after {
        width: 40%;
        height: 5px;
        top: 45px;
        margin-left: 5px;
    }

    .services_item {
        gap: 10px;
        flex-wrap: wrap;
    }

    .flip-card {
        width: 130px;
        height: 130px;
        perspective: 1000px;
    }

    .flip-card-back-text {
        font-size: 8pt;
        left: 6px;
    }

    .flip-card-front-image img {
        width: 70px;
    }

    .flip-card-front-image p {
        color: var(--link_text);
        font-size: 8pt;
        padding: 5px;
        left: 6px;
    }

    /* Slider_realisation */

    .slider_real_bottom .slide2 {
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .slider_real_bottom .swiper {
        justify-content: center;
    }

    .slider_real_bottom .swiper-wrapper {
        gap: 15px;
    }

    .slider_real_bottom .swiper-slide {
        width: 200px !important;
        height: 282px;
    }

    .slider_real_bottom .swiper-slide img {
        border-radius: 5px;
    }

    .slider_real_bottom .swiper-slide-active img {
        border-radius: 5px;
    }

    .slider_real_bottom .swiper-slide-active {
        width: 218px !important;
        height: 312px;
        z-index: 15;
        border-radius: 10px;
        background-image: linear-gradient(to top, rgb(12 21 75 / 100%), rgb(79 255 3 / 0%)) !important;
        transition-duration: 0ms !important;
        transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
    }

    .slider_real_bottom .swiper-slide.swiper-slide-visible {
        z-index: 0 !important;
        transition-duration: 0ms !important;
        transform: translate3d(0px, 0px, -450px) rotateX(0deg) rotateY(0deg) scale(1) !important;
    }

    .slider_real_bottom .swiper-slide-next .swiper-slide-prev {
        transition-duration: 0ms;
        transform: translate3d(0px, 0px, -110px) rotateX(0deg) rotateY(-55deg) scale(1);
        z-index: 0;
    }

    .slider_real_bottom .swiper-slide-text-slide {
        bottom: 20px;
        left: 14px;
        width: 192px;
        color: var(--texte);
        z-index: 14;
    }

    .slider_real_bottom .swiper-slide-text-haut {
        font-size: 10pt;
    }

    .slider_real_bottom .swiper-slide-text-bas {
        font-size: 9pt;
        margin-top: 5px;
    }

    .slider_real_bottom .swiper-3d .swiper-slide-shadow-top .swiper-3d .swiper-slide-shadow-left,
    .slider_real_bottom .swiper-3d .swiper-slide-shadow-right,
    .slider_real_bottom .swiper-3d .swiper-slide-shadow-left,
    .slider_real_bottom .swiper-3d .swiper-slide-active {
        z-index: 1;
        border-radius: 10px;
        background-image: linear-gradient(to top, rgb(12 21 75 / 100%), rgb(79 255 3 / 0%)) !important;
    }

    .slider_real_bottom .swiper-3d .swiper-slide-shadow-left,
    .slider_real_bottom .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }


    .slider_real_bottom div.swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
        opacity: 1 !important;
        border-radius: 5px;
    }

    .slider_real_bottom .text_realisation {
        font-size: 18pt;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }

    .slider_real_bottom .swiper-button-next,
    .slider_real_bottom .swiper-button-prev {
        width: 30px;
        height: 30px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        font-size: 14pt;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        font-size: 14pt;
    }

    /* whycote */
    .ellipse {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 20px;
    }

    .choice_items {
        gap: 10px;
    }

    .choicenumber p {
        font-size: 13pt;
    }

    .choicetextTitle {
        font-size: 12pt;
    }

    .choicetextSub {
        width: auto;
        font-size: 10pt;
    }

    .choice_all {
        flex-direction: column;
        gap: 15px;
    }

    .text_confiance {
        font-size: 13pt;
        margin-bottom: 30px;
    }

    .slider_partenaire {
        width: 100%;
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .parten_all {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        gap: 10px;
        width: 86%;
    }

    .parten_items {
        width: 100px;
        height: auto;
        border-radius: 100%;
        margin: 0;
    }

    .slide2 {
        width: 80%;
        margin: auto;
        justify-content: center;
    }

    .slide_realisation_title h1 {
        font-size: 16pt;
    }

    .slide_service_about_contact {
        height: 250px;
    }


    /* image-gallery-viewer */
    .modal-content {
        width: 90%;
    }

    #image-viewer .close {
        top: 53px;
        right: 9px;
        font-size: 40px;
    }

    #image-viewer {
        padding-top: 120px;
    }

    .read_pic_items {
        width: 125px;
        height: 150px;
    }

    .read_pic_items img {
        border-radius: 3px;

    }



    footer {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .footer_items {
        width: 90%;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .footer_items_left {
        width: 100%;
    }

    .circle_icone {
        width: 20px;
        height: 20px;
    }

    .footer_items_center {
        margin-top: 30px;
        width: 100%;
    }

    .footer_items_right {
        display: none;
    }

    .copyright_powered {
        font-size: 7pt;
        width: 90%;
    }

}