:root {
    --bg_color: #F2F2F2;
    --menu_color: #ffffff;
    --font_slider: 30pt;
    --font_slider_st: 18pt;
    --font_titre_weight: 900;
    --font_titre_low_weight: 300;
    --font_tire_qsn: 40pt;
    --font_titre_qsn_descr: 12pt;
    --font-titre_service: 20pt;
    --font_titre_service_descr: 12pt;
    --font_button: 14pt;
    --font_button2: 11pt;
    --outline: #FF7200;
    --texte: #ffffff;
    --all_texte: #0000000;
    --link_text: #0C154B;
    --border: 2px solid var(--outline);
    --dots-color: #FF7200;
    --animate-duration: 1.5s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --footer_bf: #1F2035;
}

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--bg_color);
}

a {
    text-decoration: none;
}

a .button {
    display: inline-block;
    padding: 20px;
    color: var(--all_texte);
    font-weight: 500;
    font-size: var(--font_button);
    border-radius: 5px;
    border: 2px solid var(--link_text);
    margin-top: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    max-width: 550px;
}

.button:hover,
.button2:hover {
    background-color: var(--link_text);
    color: var(--menu_color);
    transition: all 1s ease 0s;
    border-radius: 50px;
}

.button_phone a {
    display: none;
}

a .button2 {
    font-size: var(--font_button2);
    padding: 10px;
}

.link_color_white {
    color: white;
}

.social_media {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
}

.space {
    width: 94%;
    margin: auto;
}

.space2 {
    width: 70%;
    margin: auto;
}

.space3 {
    width: 60%;
    margin: auto;
}

.space_header {
    width: 83%;
    margin: auto;
}

.space_top {
    margin-top: 60px;
}

.space_right {
    margin-left: 10px;
}

.space_bottom {
    margin-bottom: 50px;
}

.space_interne {
    padding-top: 50px;
    padding-bottom: 50px;
}

.space_contact {
    margin-bottom: 550px;
}

/* header */
header {
    width: 100%;
    height: 90px;
    background-color: var(--menu_color);
    z-index: 500;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 80ms ease-out;
}

header.scrolled {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}

.nav_bar {
    height: 100%;
    justify-content: space-between;
}

.logo_container img {
    width: 140px;
}

.btn_nav {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    transition: all 0.3s ease-in-out;
}

.btn_nav:hover a {
    color: var(--dots-color);
    transition: all 0.3s ease-in-out;
}

.btn_nav a {
    text-decoration: none;
    color: var(--link_text);
    font-weight: 400;
    text-transform: uppercase;
}

nav ul li a.activer {
    font-weight: 600;
    color: var(--dots-color);
}

.menu_nav li {
    border-bottom: none;
    padding: 0;
}

.social_media_all {
    display: none;
}

.circle {
    border: 1px solid var(--link_text);
    border-radius: 50px;
    padding: 5px;
    width: 150px;
    height: 15px;
    display: flex;
    align-items: center;
}

.circle_phone {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--link_text);
    justify-content: center;
    margin-right: 5px;
}

.circle_phone_logo {
    width: 15px;
    height: 15px;
}

.circle_phone_logo img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(144deg) brightness(102%) contrast(102%);
}

.circle a {
    font-size: 10pt;
}

.menu_hamburger {
    display: none;
}

/* slider */
.slider_top .swiper {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slider_top .swiper-slide {
    overflow: hidden;
}

.slider_top .slide_image {
    width: 100%;
    height: 100%;
}

.slider_top .slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: zoomAnimation 20s infinite alternate;
}

.slider_top .slide_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e358289;
    display: flex;
    align-items: center;
}

.slider_top .slide-text {
    color: white;
    max-width: 40%;
    margin-left: 130px;
}

.slider_top .slide-text h1 {
    font-size: var(--font_slider);
    font-weight: 700;
    margin-bottom: 10px;
}

.slider_top .slide-text h3 {
    font-size: var(--font_slider_st);
    font-weight: 400;
    margin-bottom: 0;
}

@keyframes zoomAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.slider_top .swiper-button-next,
.slider_top .swiper-button-prev {
    color: var(--texte);
    max-width: 76px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_top .swiper-button-next {
    margin-right: 40px;
}

.slider_top .swiper-button-prev {
    margin-left: 50px;
}

.slider_top .swiper-button-next:after,
.slider_top .swiper-button-prev:after {
    font-size: 25pt;
}

/* Qui sommes-nous? */
.section_presentation {
    gap: 80px;
    flex-wrap: wrap;
    padding: 15px;
}

.section_presentation a {
    color: var(--all_texte);
}

.section_presentation_left {
    width: 45%;
}

.section_presnt_lef_title p {
    font-size: var(--font_tire_qsn);
    font-weight: var(--font_titre_weight);
    text-transform: uppercase;
    color: var(--link_text);
    position: relative;
    width: 450px;
    line-height: 1.2;
}

.section_presnt_lef_title p::after {
    content: '';
    background-color: var(--dots-color);
    width: 20%;
    height: 10px;
    display: block;
    position: absolute;
    top: 60px;
    margin-left: 10px;
}

.section_presentation_left_description p {
    font-size: var(--font_titre_qsn_descr);
    color: var(--all_texte);
    margin-top: 10px;
    width: 450px;
}

.service_present_left p {
    width: 250px;
}

.section_presentation_right {
    width: 40%;
}

.section_presentation_right img {
    width: 360px;
}

/* services */
.service {
    width: 100%;
    background: var(--menu_color);
}

.service a {
    color: var(--all_texte);
}

.service_index_page {
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_left {
    width: 25%;
    flex-wrap: wrap;
}

.service_right {
    width: 70%;
}

.service_left_title p {
    font-size: var(--font_slider);
    width: 200px;
}

.service_left_title p::after {
    width: 40%;
    height: 5px;
    top: 45px;
    margin-left: 5px;
}

.services_item {
    gap: 15px;
    flex-wrap: wrap;
}

.flip-card a {
    width: 248px;
    height: 240px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 1px solid #0000001a;
    border-radius: 10px;
    position: relative;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front-image,
.flip-card-back-image {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.circle_service {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--menu_color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) -3px 3px 2.6px;
}

.circle_service img {
    width: 65%;
    filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(2957%) hue-rotate(260deg) brightness(91%) contrast(90%);
}

.flip-card-front-image p {
    color: var(--link_text);
    font-weight: 300;
    font-size: 13pt;
    max-width: 150px;
}

.flip-card-front {
    justify-content: center;
    flex-direction: column;
}

.flip-card-back-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff7200e3, #ffa800d6);
    border-radius: 9px;
    top: 0;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-image {
    width: 100%;
    height: 100%;
}

.flip-card-back-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 9px;
}

.flip-card-back-circle {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    right: 15%;
    top: 25%;
}

.flip-card-back-circle p {
    color: var(--menu_color);
    font-weight: 700;
    font-size: 12pt;
    max-width: 170px;
}

.circle_service_back {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--menu_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_service_back img {
    width: 65%;
    filter: brightness(0) saturate(100%) invert(43%) sepia(92%) saturate(1183%) hue-rotate(359deg) brightness(100%) contrast(105%);
}



/* slider_raelisaion */

.slider_real_bottom .slide2 {
    position: relative;
    background: url(../image/slide_real_all2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 700px;
    padding-top: 75px;
}

.slider_real_bottom .slide2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c154be0;
    /* background-image: linear-gradient(to right, rgb(12, 21, 75, 1), rgb(255 114 0 / 58%)); */
    z-index: 1;
}

.slider_real_bottom .swiper {
    justify-content: center;
}

.slider_real_bottom .swiper-wrapper {
    gap: 30px;
    transition: all 1s ease-in-out;
}

.slider_real_bottom .swiper-slide {
    width: 320px !important;
    height: 419px;
}

.slider_real_bottom .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.slider_real_bottom .swiper-slide-active img {
    border-radius: 10px;
    z-index: 500;
    background-image: linear-gradient(to top, rgb(12 21 75 / 100%), rgb(79 255 3 / 0%)) !important;
}

.slider_real_bottom .swiper-slide-active {
    width: 385px !important;
    height: 500px;
    z-index: 15;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(12 21 75 / 100%), rgb(79 255 3 / 0%)) !important;
    transition-duration: 0s !important;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.slider_real_bottom .swiper-slide.swiper-slide-visible {
    z-index: 0 !important;
    transition-duration: 0s !important;
    transform: translate3d(0px, 0px, -450px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.slider_real_bottom .swiper-slide-next .swiper-slide-prev {
    transition-duration: 0s;
    transform: translate3d(0px, 0px, -110px) rotateX(0deg) rotateY(-55deg) scale(1);
    z-index: 0;
}

.slider_real_bottom .swiper-slide-text-slide {
    position: absolute;
    bottom: 20px;
    left: 14px;
    width: 255px;
    color: var(--texte);
    z-index: 14;
}


.slider_real_bottom .swiper-slide-text-haut {
    font-size: 12pt;
    font-weight: 700;
}

.slider_real_bottom .swiper-slide-text-bas {
    font-size: 11pt;
    font-weight: 500;
    margin-top: 5px;
}

.slider_real_bottom .swiper-3d .swiper-slide-shadow-top .swiper-3d .swiper-slide-shadow-left,
.slider_real_bottom .swiper-3d .swiper-slide-shadow-right,
.slider_real_bottom .swiper-3d .swiper-slide-shadow-left,
.slider_real_bottom .swiper-3d .swiper-slide-active {
    z-index: 1;
    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(12 21 75 / 100%), rgb(79 255 3 / 0%)) !important;
}

.slider_real_bottom .swiper-3d .swiper-slide-shadow-left,
.slider_real_bottom .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}


.slider_real_bottom div.swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
    opacity: 1 !important;
}

.slider_real_bottom .text_realisation {
    font-size: 30pt;
    letter-spacing: 5px;
    color: var(--texte);
    font-weight: 700;
    text-align: center;
    margin-bottom: 79px;
    position: relative;
    z-index: 1;
}

.slider_real_bottom .text_color {
    color: var(--dots-color);
}

.swiper-3d .swiper-wrapper {
    transform-style: flat;
}

.slider_real_bottom .swiper-button-next,
.slider_real_bottom .swiper-button-prev {
    color: var(--texte);
    background: #ffffff61;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 22pt;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 22pt;
}

.ellipse {
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--menu_color);
    margin-right: 20px;
}

.choicenumber p {
    font-size: 15pt;
    font-weight: 700;
}

.choicetext {
    color: var(--link_text);
}

.choicetextTitle {
    font-size: 15pt;
    font-weight: 700;
}

.choicetextSub {
    width: 380px;
    margin-top: 5px;
}

.choice_all {
    flex-direction: column;
    gap: 15px;
}

.slider_real_bottom .text_realisation {
    font-size: 30pt;
    letter-spacing: 5px;
    color: var(--texte);
    font-weight: 700;
    text-align: center;
    margin-bottom: 79px;
    position: relative;
    z-index: 1;
}

.slide2 {
    justify-content: center;
}

.text_confiance {
    font-size: 30pt;
    letter-spacing: 5px;
    color: var(--link_text);
    font-weight: 700;
    margin-bottom: 79px;
}

.slider_partenaire {
    width: 100%;
    height: 400px;
    padding-top: 75px;
    background-color: var(--menu_color) !important;
}

.text_color {
    color: var(--dots-color);
}

.parten_all {
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: auto;
}

.parten_items {
    width: 119px;
    height: 119px;
    border-radius: 100%;
}

.parten_items img {
    object-fit: cover;
    width: 100%;
}


/* Services page*/
.slide_service_about_contact {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.slide_contact {
    background-image: url(../image/slide_contact.png);
}

.slide_about {
    background-image: url(../image/slide_about.jpg);
}

.slide_service {
    background-image: url(../image/slide1.jpg);
}

.slide_filter_service {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0b2a68, #103482ee);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_text_service {
    color: white;
    font-size: 18pt;
}

.slide_text_service h1 {
    font-size: 30pt;
}

.slide_text_service p {
    max-width: 550px;
}

.slide_realisation_title {
    color: white;
    justify-content: center;
}

.show_reading {
    padding: 20px;
    border-radius: 10px;
    color: black;
    background: white;
    box-shadow: 0px 0px 1px 0px;
    justify-content: center;
}

.text_dur_title {
    font-weight: 800;
}

.reading_pictures {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.read_pic_items {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.read_pic_items img:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    transform: scale(0.8);
}

.read_pic_items img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* image-gallery viewer */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 180px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#image-viewer .close {
    position: absolute;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bolder;
    transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}













/* footer */

footer {
    background-color: var(--footer_bf);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer_items {
    display: flex;
    margin-bottom: 130px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer_items_left {
    width: 40%;
    flex-direction: column;
    display: flex;
}

h2 {
    text-transform: uppercase;
    color: var(--texte);
}

.contacter {
    margin-top: 5px;
    margin-bottom: 5px;
    gap: 10px;
}

.circle_icone {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--menu_color);
    border-radius: 100%;
    justify-content: center;
    padding: 5px;
}

.circle_icone img {
    width: 100%;
}

.circle_icone a {
    width: 100%;
    display: flex;
}

.contacter_number p {
    color: var(--texte);
    font-size: var(--font_button);
    max-width: 250px;
}

.follow_icons {
    padding-top: 5px;
    gap: 10px;
}

.footer_items_center {
    width: 30%;
}

.page_link {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: var(--font_button);
}

.page_link a {
    color: var(--texte);
}

.values {
    display: flex;
    flex-direction: column;
}

.values p {
    display: flex;
    align-items: center;
    color: var(--texte);
    font-size: var(--font_button);
}

.circle_value {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--texte);
    margin-right: 5px;
}


.footer_items_right {
    padding: 15px;
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.293);
    max-width: 290px;
    height: 290px;
}

.footer_items_right img {
    width: 100%;
}

.border_line {
    width: 100%;
    margin-top: 15px;
    border-top: 2px solid #FF7200;
}


.copyright_powered {
    color: var(--menu_color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12pt;
    padding: 15px;
    width: 80%;
    margin: auto;
}

.circle_icone {
    transition: background-color 0.3s ease, background-image 0.3s ease;
}

.facebook:hover {
    background-color: #1877F2;
}

.facebook:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.insta:hover {
    background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.insta:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.x:hover {
    background-color: black;
}

.x:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.linkedin:hover {
    background-color: #0A66C2;
}

.linkedin:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* service_page */
.service_items_slide {
    height: 300px;
}

.service_page {
    flex-wrap: wrap;
    gap: 15px;
}

.service_items_lr {
    justify-content: space-between;
}

.slide_text_service_items_left {
    gap: 15px;
}

.slide_text_service_items_left img {
    width: 70px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(102%) contrast(100%);
}

.slide_text_service_items_left p {
    font-size: var(--font-titre_service);
    max-width: 300px;
    color: var(--texte);
    font-weight: 600;
}

.slide_text_service_items_right button {
    background: none;
    border: 1px solid var(--texte);
    padding: 15px;
    color: var(--texte);
    font-size: var(--font_button2);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.slide_text_service_items_right button:hover {
    background-color: #FF7200;
    color: black;
    transition: all 0.5s ease 0s;
}

.service_items_fiche p {
    text-align: justify;
    font-size: 13pt;
}

/* about */
.about_page_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_left {
    width: 75%;
}

.about p {
    text-align: justify;
    width: 700px;
}

.about_right {
    width: 25%;
}

.about_right img {
    width: 200px;
}

.equipe_photo {
    gap: 20px;
}

.equipe_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ECECEC;
    padding: 15px;
    gap: 15px;
    justify-content: center;
}

.card_pic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
}

.card_pic img {
    width: 100%;
}

.card_text p {
    font-size: 13pt;
    font-family: poppins;
}

.card_text h4 {
    font-size: 13pt;
    font-weight: 700;
}

.card_icons {
    gap: 10px;
}

.card_icons_circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    background: none;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.card_icons_circle img {
    width: 60%;
}

.card_icons_circle:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.card_icons_circle:hover img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* contact */
.contact_card {
    background-color: var(--menu_color);
    padding: 15px;
    position: absolute;
    top: 43%;
    left: 15%;
    border-radius: 5px;
}

.contact_card_items {
    width: 100%;
    justify-content: space-between;
}

.contact_left {
    display: flex;
    margin-left: 20px;
    gap: 30px;
    flex-direction: column;
    width: 60%;
}

.write_text p {
    font-size: 15pt;
    color: #7A7A7A;
    font-weight: 500;
}

.write_rect {
    margin-bottom: 10px;
    border: none;
}

.prenom,
.mail,
.texte {
    width: 80%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid #D9D9D9;
}

.texte {
    margin-top: 15px;
}

::placeholder {
    color: #989898;
    font-size: 10pt;
    font-family: poppins;
    opacity: 0.7;
    padding: 10px;
}

input[type="submit"] {
    display: inline-block;
    padding: 10px;
    color: var(--texte);
    font-weight: 500;
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    background-color: var(--link_text);
    transition: all 0.3s ease 0s;
}

input[type="submit"]:hover {
    background-color: #FF7200;
    color: black;
}

.contact_right {
    width: 40%;
}

.contact_right_card_icons{
    margin-top: 80px;
}

.contact_right_card {
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}